assets/template/about.jade
extends _layout_yellow

block content
    .about
        .aboutVideo
            img(src="img/video.jpg", alt="")
        .aboutContent
            .aboutText
                h2 Итальянская паста

                p Текстовое описание обращения директора. С происхождением пасты связанно множество легенд, мифов и исторических фактов. По одной из версий Италия считается первой страной, которая придумала этот продукт.  Тем не менее Италия в настоящий момент является крупнейшим производителем и поставщиком данного продукта по всему миру. Изначально это блюдо было популярно локально в Италии, но уже в ХII веке оно начало экспортироваться от берегов Италии.
                p Тем не менее Италия в настоящий момент является крупнейшим производителем и поставщиком данного продукта по всему миру. Изначально это блюдо было популярно локально в Италии, но уже в ХII веке оно начало экспортироваться от берегов Италии.
                span Имя Фамилия </br> генеральный директор
            .aboutPortrait
                img(src="img/aboutPort.png", alt="")
        .aboutPhotos
            .aboutPhotoColumn
                img(src="img/about-1.jpg", alt="")
                img(src="img/about-2.jpg", alt="")
            .aboutPhotoColumn
                img(src="img/about-3.jpg", alt="")
                .aboutPhotoRow
                    .aboutPhotoColumn
                        img(src="img/about-4.jpg", alt="")
                    .aboutPhotoColumn
                        img(src="img/about-5.jpg", alt="")

public/about.html
<!DOCTYPE html>
<html>
  <head>
    <title>Stylpasta</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic|PT+Serif:700italic&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link href="./css/blocks.css" type="text/css" rel="stylesheet">
    <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="favicon.ico">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="favicon-152.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="favicon-144.png">
    <meta name="msapplication-square70x70logo" content="favicon-70.png">
    <meta name="msapplication-square150x150logo" content="favicon-150.png">
    <meta name="msapplication-square310x310logo" content="favicon-310.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="favicon-152.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="favicon-120.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicon-72.png">
    <link rel="apple-touch-icon-precomposed" href="favicon-57.png"><!--[if IE 8]><link rel="stylesheet" href="./css/blocks.ie.css"><![endif]-->
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
    <script>
      ;( function( window, document )
          {
              'use strict';
      
              var file     = './img/svghtml.html',
                  revision = 1,
                  debug = true;
      
              if( !document.createElementNS || !document.createElementNS( 'http://www.w3.org/2000/svg', 'svg' ).createSVGRect )
                  return true;
      
              var isLocalStorage = 'localStorage' in window && window[ 'localStorage' ] !== null,
                  request,
                  data,
                  insertIT = function()
                  {
                      document.body.insertAdjacentHTML( 'afterbegin', data );
                  },
                  insert = function()
                  {
                      if( document.body ) insertIT();
                      else document.addEventListener( 'DOMContentLoaded', insertIT );
                  };
      
              if( isLocalStorage && localStorage.getItem( 'inlineSVGrev' ) == revision & debug == false )
              {
                  data = localStorage.getItem( 'inlineSVGdata' );
                  if( data )
                  {
                      insert();
                      return true;
                  }
              }
      
              try
              {
                  request = new XMLHttpRequest();
                  request.open( 'GET', file, true );
                  request.onload = function()
                  {
                      if( request.status >= 200 && request.status < 400 )
                      {
                          data = request.responseText;
                          insert();
                          if( isLocalStorage )
                          {
                              localStorage.setItem( 'inlineSVGdata',  data );
                              localStorage.setItem( 'inlineSVGrev',   revision );
                          }
                      }
                  }
                  request.send();
              }
              catch( e ){}
      
          }( window, document ) );
      
    </script>
  </head>
  <body style="background-color: #fffef8">
    <div class="header">
      <div class="headerWrap">
        <div class="headerLeft">
          <div class="headerPhone">Бесплатный звонок:<span> 8(800) 301-0620</span></div>
        </div>
        <div class="headerRight">
          <div class="headerCart"><span>Корзина пуста</span></div>
        </div>
      </div>
    </div>
    <div class="menu">
      <div class="menuLogo"><img src="img/logo.png" alt=""></div>
      <div class="menuItems">
        <div class="menuItemsTop"><a href="#" class="active">Паста</a><a href="#">Horeca</a><a href="#">О компании</a><a href="#">Контакты</a></div>
        <div class="menuItemsBottom"><a href="#" class="active">Доставка и оплата</a><a href="#">Новости</a><a href="#">Рецепты</a></div>
      </div>
    </div>
    <div class="about">
      <div class="aboutVideo"><img src="img/video.jpg" alt=""></div>
      <div class="aboutContent">
        <div class="aboutText">
          <h2>Итальянская паста</h2>
          <p>Текстовое описание обращения директора. С происхождением пасты связанно множество легенд, мифов и исторических фактов. По одной из версий Италия считается первой страной, которая придумала этот продукт.  Тем не менее Италия в настоящий момент является крупнейшим производителем и поставщиком данного продукта по всему миру. Изначально это блюдо было популярно локально в Италии, но уже в ХII веке оно начало экспортироваться от берегов Италии.</p>
          <p>Тем не менее Италия в настоящий момент является крупнейшим производителем и поставщиком данного продукта по всему миру. Изначально это блюдо было популярно локально в Италии, но уже в ХII веке оно начало экспортироваться от берегов Италии.</p><span>Имя Фамилия </br> генеральный директор</span>
        </div>
        <div class="aboutPortrait"><img src="img/aboutPort.png" alt=""></div>
      </div>
      <div class="aboutPhotos">
        <div class="aboutPhotoColumn"><img src="img/about-1.jpg" alt=""><img src="img/about-2.jpg" alt=""></div>
        <div class="aboutPhotoColumn"><img src="img/about-3.jpg" alt="">
          <div class="aboutPhotoRow">
            <div class="aboutPhotoColumn"><img src="img/about-4.jpg" alt=""></div>
            <div class="aboutPhotoColumn"><img src="img/about-5.jpg" alt=""></div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footerWrap">
        <div class="footerMenu">
          <div class="footerMenuWrap"><a href="#" class="active">Паста</a><a href="#">О франшизе</a><a href="#">О компании</a><a href="#">Контакты</a><a href="#">Новости</a><a href="#">Рецепты</a></div>
        </div>
        <div class="footerRow">
          <div class="footerSocial">
            <div class="footerCopyright">2015, Stylpasta</div>
            <div class="footerSocialLink">
              <div class="footerSocialLinkFB"><a href="#">Facebook</a></div>
              <div class="footerSocialLinkVK"><a href="#">Vkontakte</a></div>
              <div class="footerSocialLinkInstagramm"><a href="#">Instagram</a></div>
            </div>
            <div class="footerDesign"><a href="#">
                 
                — <span>Разработка сайта</span></a></div>
          </div>
          <div class="footerContact">Бесплатный звонок:<span>8 (800) 301—0620</span>Эл. почта:&nbsp<a href="#">sales@nemoxrussia.ru</a></div>
          <div class="footerAddress">Ждем в гости на&nbsp<a href="#">ул. Складочная 1, стр. 18<br></a>Пишите на пр Ленина 12, Москва
            <div class="footerLogos">
              <div class="footerLogoRST"></div>
              <div class="footerLogoEAC"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="./js/app.js"></script>
  </body>
</html>
