public/catalog.html
<!DOCTYPE html>
<html>
  <head>
    <title>Stylpasta</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic|PT+Serif:700italic&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link href="./css/blocks.css" type="text/css" rel="stylesheet">
    <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="favicon.ico">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="favicon-152.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="favicon-144.png">
    <meta name="msapplication-square70x70logo" content="favicon-70.png">
    <meta name="msapplication-square150x150logo" content="favicon-150.png">
    <meta name="msapplication-square310x310logo" content="favicon-310.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="favicon-152.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="favicon-120.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicon-72.png">
    <link rel="apple-touch-icon-precomposed" href="favicon-57.png"><!--[if IE 8]><link rel="stylesheet" href="./css/blocks.ie.css"><![endif]-->
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
    <script>
      ;( function( window, document )
          {
              'use strict';
      
              var file     = './img/svghtml.html',
                  revision = 1,
                  debug = true;
      
              if( !document.createElementNS || !document.createElementNS( 'http://www.w3.org/2000/svg', 'svg' ).createSVGRect )
                  return true;
      
              var isLocalStorage = 'localStorage' in window && window[ 'localStorage' ] !== null,
                  request,
                  data,
                  insertIT = function()
                  {
                      document.body.insertAdjacentHTML( 'afterbegin', data );
                  },
                  insert = function()
                  {
                      if( document.body ) insertIT();
                      else document.addEventListener( 'DOMContentLoaded', insertIT );
                  };
      
              if( isLocalStorage && localStorage.getItem( 'inlineSVGrev' ) == revision & debug == false )
              {
                  data = localStorage.getItem( 'inlineSVGdata' );
                  if( data )
                  {
                      insert();
                      return true;
                  }
              }
      
              try
              {
                  request = new XMLHttpRequest();
                  request.open( 'GET', file, true );
                  request.onload = function()
                  {
                      if( request.status >= 200 && request.status < 400 )
                      {
                          data = request.responseText;
                          insert();
                          if( isLocalStorage )
                          {
                              localStorage.setItem( 'inlineSVGdata',  data );
                              localStorage.setItem( 'inlineSVGrev',   revision );
                          }
                      }
                  }
                  request.send();
              }
              catch( e ){}
      
          }( window, document ) );
      
    </script>
  </head>
  <body>
    <div class="header">
      <div class="headerWrap">
        <div class="headerLeft">
          <div class="headerPhone">Бесплатный звонок:<span> 8(800) 301-0620</span></div>
        </div>
        <div class="headerRight">
          <div class="headerCart"><span>Корзина пуста</span></div>
        </div>
      </div>
    </div>
    <div class="menu">
      <div class="menuLogo"><img src="img/logo.png" alt=""></div>
      <div class="menuItems">
        <div class="menuItemsTop"><a href="#" class="active">Паста</a><a href="#">Horeca</a><a href="#">О компании</a><a href="#">Контакты</a></div>
        <div class="menuItemsBottom"><a href="#" class="active">Доставка и оплата</a><a href="#">Новости</a><a href="#">Рецепты</a></div>
      </div>
    </div>
    <div class="catalog">
      <div class="catalogHeader">Паста</div>
      <div class="catalogMenu"><a href="#" class="active">Паста</a>•<a href="#">Паста с начинкой</a>•<a href="#">Соусы</a>•<a href="#">Аксессуары</a></div>
      <div class="catalogContent">
        <div class="catalogItems">
          <div class="catalogItem">
            <div class="catalogItemPhoto"><img src="img/slide-1.png" alt="">
              <div class="catalogItemPhotoHover">
                <div class="catalogItemPhotoHoverText">i<span>О пасте</span></div>
              </div>
            </div>
            <div class="catalogItemName"><a href="#">Тальятелли</a></div>
            <div class="catalogItemAdd">&nbsp</div>
            <div class="catalogItemButton">
              <button class="buttonGreenOutline">в корзину&nbsp<b>250 гр&nbsp</b>по 200 ₽</button>
              <button class="buttonGreenOutline">в корзину&nbsp<b>500 гр&nbsp</b>по 350 ₽</button>
            </div>
          </div>
          <div class="catalogItem">
            <div class="catalogItemPhoto"><img src="img/slide-1.png" alt="">
              <div class="catalogItemPhotoHover">
                <div class="catalogItemPhotoHoverText">i<span>О пасте</span></div>
              </div>
            </div>
            <div class="catalogItemName"><a href="#">Тальятелли</a></div>
            <div class="catalogItemAdd">добавлено 8 × 250 гр, 12 × 500 гр</div>
            <div class="catalogItemButton">
              <button class="buttonGreenOutline">в корзину&nbsp<b>250 гр&nbsp</b>по 200 ₽</button>
              <button class="buttonGreenOutline">в корзину&nbsp<b>500 гр&nbsp</b>по 350 ₽</button>
            </div>
          </div>
          <div class="catalogItem">
            <div class="catalogItemPhoto"><img src="img/slide-1.png" alt="">
              <div class="catalogItemPhotoHover">
                <div class="catalogItemPhotoHoverText">i<span>О пасте</span></div>
              </div>
            </div>
            <div class="catalogItemName"><a href="#">Тальятелли</a></div>
            <div class="catalogItemAdd">&nbsp</div>
            <div class="catalogItemButton">
              <button class="buttonGreenOutline">в корзину&nbsp<b>250 гр&nbsp</b>по 200 ₽</button>
              <button class="buttonGreenOutline">в корзину&nbsp<b>500 гр&nbsp</b>по 350 ₽</button>
            </div>
          </div>
          <div class="catalogItem">
            <div class="catalogItemPhoto"><img src="img/slide-1.png" alt="">
              <div class="catalogItemPhotoHover">
                <div class="catalogItemPhotoHoverText">i<span>О пасте</span></div>
              </div>
            </div>
            <div class="catalogItemName"><a href="#">Тальятелли</a></div>
            <div class="catalogItemAdd">добавлено 8 × 250 гр, 12 × 500 гр</div>
            <div class="catalogItemButton">
              <button class="buttonGreenOutline">в корзину&nbsp<b>250 гр&nbsp</b>по 200 ₽</button>
              <button class="buttonGreenOutline">в корзину&nbsp<b>500 гр&nbsp</b>по 350 ₽</button>
            </div>
          </div>
          <div class="catalogItem">
            <div class="catalogItemPhoto"><img src="img/slide-1.png" alt="">
              <div class="catalogItemPhotoHover">
                <div class="catalogItemPhotoHoverText">i<span>О пасте</span></div>
              </div>
            </div>
            <div class="catalogItemName"><a href="#">Тальятелли</a></div>
            <div class="catalogItemAdd">&nbsp</div>
            <div class="catalogItemButton">
              <button class="buttonGreenOutline">в корзину&nbsp<b>250 гр&nbsp</b>по 200 ₽</button>
              <button class="buttonGreenOutline">в корзину&nbsp<b>500 гр&nbsp</b>по 350 ₽</button>
            </div>
          </div>
          <div class="catalogItem">
            <div class="catalogItemPhoto"><img src="img/slide-1.png" alt="">
              <div class="catalogItemPhotoHover">
                <div class="catalogItemPhotoHoverText">i<span>О пасте</span></div>
              </div>
            </div>
            <div class="catalogItemName"><a href="#">Тальятелли</a></div>
            <div class="catalogItemAdd">добавлено 8 × 250 гр, 12 × 500 гр</div>
            <div class="catalogItemButton">
              <button class="buttonGreenOutline">в корзину&nbsp<b>250 гр&nbsp</b>по 200 ₽</button>
              <button class="buttonGreenOutline">в корзину&nbsp<b>500 гр&nbsp</b>по 350 ₽</button>
            </div>
          </div>
          <div class="catalogItem">
            <div class="catalogItemPhoto"><img src="img/slide-1.png" alt="">
              <div class="catalogItemPhotoHover">
                <div class="catalogItemPhotoHoverText">i<span>О пасте</span></div>
              </div>
            </div>
            <div class="catalogItemName"><a href="#">Тальятелли</a></div>
            <div class="catalogItemAdd">&nbsp</div>
            <div class="catalogItemButton">
              <button class="buttonGreenOutline">в корзину&nbsp<b>250 гр&nbsp</b>по 200 ₽</button>
              <button class="buttonGreenOutline">в корзину&nbsp<b>500 гр&nbsp</b>по 350 ₽</button>
            </div>
          </div>
          <div class="catalogItem">
            <div class="catalogItemPhoto"><img src="img/slide-1.png" alt="">
              <div class="catalogItemPhotoHover">
                <div class="catalogItemPhotoHoverText">i<span>О пасте</span></div>
              </div>
            </div>
            <div class="catalogItemName"><a href="#">Тальятелли</a></div>
            <div class="catalogItemAdd">добавлено 8 × 250 гр, 12 × 500 гр</div>
            <div class="catalogItemButton">
              <button class="buttonGreenOutline">в корзину&nbsp<b>250 гр&nbsp</b>по 200 ₽</button>
              <button class="buttonGreenOutline">в корзину&nbsp<b>500 гр&nbsp</b>по 350 ₽</button>
            </div>
          </div>
        </div>
        <div class="catalogSidebar">
          <div class="fromChief">
            <p>«Нам важно, чтобы паста была свежей, поэтому закупаем ингредиенты ежедневно. Используем муку твердых сортов пшеницы Semola Di Grano Duro. Нам важно, чтобы паста была свежей, поэтому закупаем ингредиенты ежедневно. Сотрудничаем&nbsp<a href="#">с&nbspсертифицированными поставщиками из Италии».</a></p>
            <div class="fromChiefPhoto">
              <div class="fromChiefPhotoAvatar"><img src="img/avatar.jpg" alt=""></div>
              <div class="fromChiefPhotoSign"><img src="img/sign.png" alt=""></div><span>Ферретти Джованни,<br> итальянский технолог</span>
            </div>
          </div>
          <div class="sidebarRecepts">
            <div class="sidebarReceptsHeader">Рецепты</div><a href="#">Как приготовить тальятелли</a><a href="#">Тальятелли с соусом песто</a><a href="#">Секреты приготовления фузиллини</a><a href="#">С чем подать свежий несваренный фетучини</a>
          </div>
        </div>
      </div>
      <div class="catalogDescription">
        <div class="catalogDescriptionItem">
          <h3>Доставка</h3>
          <p>Минимальная стоимость заказа 1 000 ₽. <br>До транспортной компании (Москва, ул. Георгиевская 124) — 100 ₽. <br> Курьером в пределах МКАД — 300 ₽, <br>за пределами — 300 ₽ + 20 ₽ за 1 км.</p>
        </div>
        <div class="catalogDescriptionItem">
          <h3>Оплата</h3>
          <p>С yandex кошелека при оформлении заказа или наличными курьеру при получении. Компании оплачивают с помощью банковского счета.</p>
        </div>
        <div class="catalogDescriptionItem">
          <h3>Время работы</h3>
          <p>Понедельник — Суббота <br>с 10.00 до 22.00<span>Воскресенье — выходной</span></p>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footerWrap">
        <div class="footerMenu">
          <div class="footerMenuWrap"><a href="#" class="active">Паста</a><a href="#">О франшизе</a><a href="#">О компании</a><a href="#">Контакты</a><a href="#">Новости</a><a href="#">Рецепты</a></div>
        </div>
        <div class="footerRow">
          <div class="footerSocial">
            <div class="footerCopyright">2015, Stylpasta</div>
            <div class="footerSocialLink">
              <div class="footerSocialLinkFB"><a href="#">Facebook</a></div>
              <div class="footerSocialLinkVK"><a href="#">Vkontakte</a></div>
              <div class="footerSocialLinkInstagramm"><a href="#">Instagram</a></div>
            </div>
            <div class="footerDesign"><a href="#">
                 
                — <span>Разработка сайта</span></a></div>
          </div>
          <div class="footerContact">Бесплатный звонок:<span>8 (800) 301—0620</span>Эл. почта:&nbsp<a href="#">sales@nemoxrussia.ru</a></div>
          <div class="footerAddress">Ждем в гости на&nbsp<a href="#">ул. Складочная 1, стр. 18<br></a>Пишите на пр Ленина 12, Москва
            <div class="footerLogos">
              <div class="footerLogoRST"></div>
              <div class="footerLogoEAC"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="./js/app.js"></script>
  </body>
</html>

assets/template/catalog.jade
extends _layout

block content
    .catalog
        .catalogHeader
            | Паста
        .catalogMenu
            a(href="#").active Паста
            | •
            a(href="#") Паста с начинкой
            | •
            a(href="#") Соусы
            | •
            a(href="#") Аксессуары
            
        .catalogContent
            .catalogItems
                - for (var i = 0; i < 4; ++i) {
                    .catalogItem
                        .catalogItemPhoto
                            img(src="img/slide-1.png", alt="")
                            .catalogItemPhotoHover
                                .catalogItemPhotoHoverText
                                    | i
                                    span О пасте
                        .catalogItemName
                            a(href="#") Тальятелли
                        .catalogItemAdd
                            | &nbsp
                        .catalogItemButton
                            button.buttonGreenOutline
                                | в корзину&nbsp
                                b 250 гр&nbsp
                                | по 200 ₽
                            button.buttonGreenOutline
                                | в корзину&nbsp
                                b 500 гр&nbsp
                                | по 350 ₽
                                
                    .catalogItem
                        .catalogItemPhoto
                            img(src="img/slide-1.png", alt="")
                            .catalogItemPhotoHover
                                .catalogItemPhotoHoverText
                                    | i
                                    span О пасте
                        .catalogItemName
                            a(href="#") Тальятелли
                        .catalogItemAdd
                            | добавлено 8 × 250 гр, 12 × 500 гр
                        .catalogItemButton
                            button.buttonGreenOutline
                                | в корзину&nbsp
                                b 250 гр&nbsp
                                | по 200 ₽
                            button.buttonGreenOutline
                                | в корзину&nbsp
                                b 500 гр&nbsp
                                | по 350 ₽
                -}

            .catalogSidebar
                .fromChief
                    p
                        | «Нам важно, чтобы паста была свежей, поэтому закупаем ингредиенты ежедневно. Используем муку твердых сортов пшеницы Semola Di Grano Duro. Нам важно, чтобы паста была свежей, поэтому закупаем ингредиенты ежедневно. Сотрудничаем&nbsp
                        a(href="#") с&nbspсертифицированными поставщиками из Италии».
                    .fromChiefPhoto
                        .fromChiefPhotoAvatar
                            img(src="img/avatar.jpg", alt="")
                        .fromChiefPhotoSign
                            img(src="img/sign.png", alt="")
                        span
                            | Ферретти Джованни,<br> итальянский технолог
                .sidebarRecepts
                    .sidebarReceptsHeader
                        | Рецепты
                    a(href="#") Как приготовить тальятелли
                    a(href="#") Тальятелли с соусом песто
                    a(href="#") Секреты приготовления фузиллини
                    a(href="#") С чем подать свежий несваренный фетучини
                    
        .catalogDescription
            .catalogDescriptionItem
                h3 Доставка
                p Минимальная стоимость заказа 1 000 ₽. <br>До транспортной компании (Москва, ул. Георгиевская 124) — 100 ₽. <br> Курьером в пределах МКАД — 300 ₽, <br>за пределами — 300 ₽ + 20 ₽ за 1 км.
            .catalogDescriptionItem
                h3 Оплата
                p С yandex кошелека при оформлении заказа или наличными курьеру при получении. Компании оплачивают с помощью банковского счета.
            .catalogDescriptionItem
                h3 Время работы
                p
                    | Понедельник — Суббота <br>с 10.00 до 22.00
                    span Воскресенье — выходной
