public/contact.html
<!DOCTYPE html>
<html>
  <head>
    <title>Stylpasta</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic|PT+Serif:700italic&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link href="./css/blocks.css" type="text/css" rel="stylesheet">
    <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="favicon.ico">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="favicon-152.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="favicon-144.png">
    <meta name="msapplication-square70x70logo" content="favicon-70.png">
    <meta name="msapplication-square150x150logo" content="favicon-150.png">
    <meta name="msapplication-square310x310logo" content="favicon-310.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="favicon-152.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="favicon-120.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicon-72.png">
    <link rel="apple-touch-icon-precomposed" href="favicon-57.png"><!--[if IE 8]><link rel="stylesheet" href="./css/blocks.ie.css"><![endif]-->
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
    <script>
      ;( function( window, document )
          {
              'use strict';
      
              var file     = './img/svghtml.html',
                  revision = 1,
                  debug = true;
      
              if( !document.createElementNS || !document.createElementNS( 'http://www.w3.org/2000/svg', 'svg' ).createSVGRect )
                  return true;
      
              var isLocalStorage = 'localStorage' in window && window[ 'localStorage' ] !== null,
                  request,
                  data,
                  insertIT = function()
                  {
                      document.body.insertAdjacentHTML( 'afterbegin', data );
                  },
                  insert = function()
                  {
                      if( document.body ) insertIT();
                      else document.addEventListener( 'DOMContentLoaded', insertIT );
                  };
      
              if( isLocalStorage && localStorage.getItem( 'inlineSVGrev' ) == revision & debug == false )
              {
                  data = localStorage.getItem( 'inlineSVGdata' );
                  if( data )
                  {
                      insert();
                      return true;
                  }
              }
      
              try
              {
                  request = new XMLHttpRequest();
                  request.open( 'GET', file, true );
                  request.onload = function()
                  {
                      if( request.status >= 200 && request.status < 400 )
                      {
                          data = request.responseText;
                          insert();
                          if( isLocalStorage )
                          {
                              localStorage.setItem( 'inlineSVGdata',  data );
                              localStorage.setItem( 'inlineSVGrev',   revision );
                          }
                      }
                  }
                  request.send();
              }
              catch( e ){}
      
          }( window, document ) );
      
    </script>
  </head>
  <body>
    <div class="header">
      <div class="headerWrap">
        <div class="headerLeft">
          <div class="headerPhone">Бесплатный звонок:<span> 8(800) 301-0620</span></div>
        </div>
        <div class="headerRight">
          <div class="headerCart"><span>Корзина пуста</span></div>
        </div>
      </div>
    </div>
    <div class="menu">
      <div class="menuLogo"><img src="img/logo.png" alt=""></div>
      <div class="menuItems">
        <div class="menuItemsTop"><a href="#" class="active">Паста</a><a href="#">Horeca</a><a href="#">О компании</a><a href="#">Контакты</a></div>
        <div class="menuItemsBottom"><a href="#" class="active">Доставка и оплата</a><a href="#">Новости</a><a href="#">Рецепты</a></div>
      </div>
    </div>
    <div class="contact">
      <div class="contactHeader">Контакты</div>
      <div class="contactRow">
        <div class="contactColumn">
          <div class="contactPhone">8 (800) 301—0620<span><br>бесплатный звонок</span></div>
          <div class="contactTime">
            Понедельник — Суббота <br>
            с 10 до 22<span>Воскресенье — выходной</span>
          </div>
        </div>
        <div class="contactColumn">
          <div class="contactAddress">
            <p>Ждем в гости на ул. Складочная 1, стр. 18 <br>Пишите на пр. Ленина, 12, г. Москва</p>
            <p>Факс: 8 (499) 550-6610</p>
            <p>
               
              Email:&nbsp<a href="#">sales@nemoxrussia.ru</a>
            </p>
          </div>
        </div>
      </div>
      <div class="contactMap">
        <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=03fDSHjJCNRQo_jZVnrTlLZI3Zx9F-yA&amp;width=100%&amp;height=400&amp;lang=ru_RU&amp;sourceType=constructor"></script>
      </div>
      <div class="contactForm">
        <div class="contactFormHeader">Вопросы</div>
        <div class="contactFormText">Если у вас есть что нам сказать или спросить о нашем сервисе, продукции, пожалуйста,напишите в нашей группе в любой социальной сети воспользуйтесь формой ниже. <br> Мы обязательно ответим на ваше письмо в кратчайшие сроки.</div>
        <div class="contactFormSocial">
          <div class="contactFormSocialFB"><a href="#">Facebook</a></div>
          <div class="contactFormSocialVK"><a href="#">Vkontakte</a></div>
          <div class="contactFormSocialInstagramm"><a href="#">Instagram</a></div>
        </div>
        <div class="contactFormItems">
          <div class="contactFormItem">
            <label class="label">Представьтесь, пожалуйста</label>
            <input class="input">
          </div>
          <div class="contactFormItem">
            <label class="label">Телефон или email для связи</label>
            <input class="input">
          </div>
          <div class="contactFormItem">
            <label class="label">Сообщение</label>
            <textarea class="textarea"></textarea>
          </div>
          <div class="contactFormItem">
            <button class="buttonGreenBig">Отправить</button>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footerWrap">
        <div class="footerMenu">
          <div class="footerMenuWrap"><a href="#" class="active">Паста</a><a href="#">О франшизе</a><a href="#">О компании</a><a href="#">Контакты</a><a href="#">Новости</a><a href="#">Рецепты</a></div>
        </div>
        <div class="footerRow">
          <div class="footerSocial">
            <div class="footerCopyright">2015, Stylpasta</div>
            <div class="footerSocialLink">
              <div class="footerSocialLinkFB"><a href="#">Facebook</a></div>
              <div class="footerSocialLinkVK"><a href="#">Vkontakte</a></div>
              <div class="footerSocialLinkInstagramm"><a href="#">Instagram</a></div>
            </div>
            <div class="footerDesign"><a href="#">
                 
                — <span>Разработка сайта</span></a></div>
          </div>
          <div class="footerContact">Бесплатный звонок:<span>8 (800) 301—0620</span>Эл. почта:&nbsp<a href="#">sales@nemoxrussia.ru</a></div>
          <div class="footerAddress">Ждем в гости на&nbsp<a href="#">ул. Складочная 1, стр. 18<br></a>Пишите на пр Ленина 12, Москва
            <div class="footerLogos">
              <div class="footerLogoRST"></div>
              <div class="footerLogoEAC"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="./js/app.js"></script>
  </body>
</html>

assets/template/contact.jade
extends _layout

block content
    .contact
        .contactHeader
            | Контакты
        .contactRow
            .contactColumn
                .contactPhone
                    | 8 (800) 301—0620
                    span <br>бесплатный звонок
                .contactTime
                    | Понедельник — Суббота <br>
                    | с 10 до 22
                    span Воскресенье — выходной
            .contactColumn
                .contactAddress
                    p Ждем в гости на ул. Складочная 1, стр. 18 <br>Пишите на пр. Ленина, 12, г. Москва
                    p Факс: 8 (499) 550-6610
                    p 
                        | Email:&nbsp
                        a(href="#") sales@nemoxrussia.ru
        .contactMap
            script(type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=03fDSHjJCNRQo_jZVnrTlLZI3Zx9F-yA&width=100%&height=400&lang=ru_RU&sourceType=constructor")
        .contactForm
            .contactFormHeader
                | Вопросы
            .contactFormText
                | Если у вас есть что нам сказать или спросить о нашем сервисе, продукции, пожалуйста,напишите в нашей группе в любой социальной сети воспользуйтесь формой ниже. <br> Мы обязательно ответим на ваше письмо в кратчайшие сроки.
            .contactFormSocial
                .contactFormSocialFB
                    a(href="#") Facebook
                .contactFormSocialVK
                    a(href="#") Vkontakte
                .contactFormSocialInstagramm
                    a(href="#") Instagram
            .contactFormItems
                .contactFormItem
                    label.label Представьтесь, пожалуйста
                    input.input
                .contactFormItem
                    label.label Телефон или email для связи
                    input.input
                .contactFormItem
                    label.label Сообщение
                    textarea.textarea
                .contactFormItem
                    button.buttonGreenBig
                        | Отправить
