assets/template/horeca.jade
extends _layout

block content
    .horeca
        .horecaMenu
            a(href="#").active Для ресторанов
            | •
            a(href="#") Кейтеринговых служб
            | •
            a(href="#") Шеф-поваров
            | •
            a(href="#") Оптовиков
            | •
            a(href="#").blue Предложить сотрудничество
        .horecaBanner
            .horecaBannerImage(style="background-image:url('img/horecaBanner.jpg')")
                .horecaBannerHeader
                    h2 Итальянская паста <br>для вашего ресторана
                    p Пояснить заголовок, расширить и дополнить смысл заголовка. <br>Пара простых предложений небольшого объема

        .horecaLogo
            .horecaLogoText
                | Нашу пасту<br> подают здесь
            .horecaLogoItem
                img(src="img/horeca-1.png", alt="")
            .horecaLogoItem
                img(src="img/horeca-2.png", alt="")
            .horecaLogoItem
                img(src="img/horeca-3.png", alt="")
            .horecaLogoItem
                img(src="img/horeca-4.png", alt="")
            .horecaLogoItem
                img(src="img/horeca-5.png", alt="")
            .horecaLogoItem
                img(src="img/horeca-6.png", alt="")
            .horecaLogoItem
                img(src="img/horeca-7.png", alt="")
        .horecaContent
            h3
                | Текстовое описание условий сотрудничества и продукции, что компания предлагает. С происхождением пасты связанно множество легенд, мифов и исторических фактов. По одной из версий Италия считается первой страной, которая придумала этот продукт.
            p По другой, пасту привез знаменитый путешественник Марко Поло из Китая в 1292 году. Споры среди кулинаров и историков не утихают до сих пор. Тем не менее Италия в настоящий момент является крупнейшим производителем и поставщиком данного продукта по всему миру. Изначально это блюдо было популярно локально в Италии, но уже в ХII веке оно начало экспортироваться от берегов Италии. Первое время темпы экспорта были не велики но уже спустя буквально несколько веков о этом блюде знала.
            p Удивительно, но самыми первыми задокументированными рецептами итальянской пасты стали записи, в которых указывалось, что этот продукт отваривали в воде с добавлением миндального молока после чего заправляли специальным соусом из сладких кореньев. Таким образом самый первый рецепт пасты был фактически десертом.
        .horecaForm
            .horecaFormHeader
                | Заявка на сотрудничество
            .horecaFormItems
                .horecaFormItem
                    label.label Имя и фамилия
                    input.input
                .horecaFormItem
                    label.label Название ресторана/бара/кафе
                    input.input
                .horecaFormItem
                    label.label Телефон
                    input.input
                .horecaFormItem
                    label.label Комментарий
                    textarea.textarea
                .horecaFormItem
                    button.buttonGreenBig
                        | Отправить

public/horeca.html
<!DOCTYPE html>
<html>
  <head>
    <title>Stylpasta</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic|PT+Serif:700italic&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link href="./css/blocks.css" type="text/css" rel="stylesheet">
    <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="favicon.ico">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="favicon-152.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="favicon-144.png">
    <meta name="msapplication-square70x70logo" content="favicon-70.png">
    <meta name="msapplication-square150x150logo" content="favicon-150.png">
    <meta name="msapplication-square310x310logo" content="favicon-310.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="favicon-152.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="favicon-120.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicon-72.png">
    <link rel="apple-touch-icon-precomposed" href="favicon-57.png"><!--[if IE 8]><link rel="stylesheet" href="./css/blocks.ie.css"><![endif]-->
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
    <script>
      ;( function( window, document )
          {
              'use strict';
      
              var file     = './img/svghtml.html',
                  revision = 1,
                  debug = true;
      
              if( !document.createElementNS || !document.createElementNS( 'http://www.w3.org/2000/svg', 'svg' ).createSVGRect )
                  return true;
      
              var isLocalStorage = 'localStorage' in window && window[ 'localStorage' ] !== null,
                  request,
                  data,
                  insertIT = function()
                  {
                      document.body.insertAdjacentHTML( 'afterbegin', data );
                  },
                  insert = function()
                  {
                      if( document.body ) insertIT();
                      else document.addEventListener( 'DOMContentLoaded', insertIT );
                  };
      
              if( isLocalStorage && localStorage.getItem( 'inlineSVGrev' ) == revision & debug == false )
              {
                  data = localStorage.getItem( 'inlineSVGdata' );
                  if( data )
                  {
                      insert();
                      return true;
                  }
              }
      
              try
              {
                  request = new XMLHttpRequest();
                  request.open( 'GET', file, true );
                  request.onload = function()
                  {
                      if( request.status >= 200 && request.status < 400 )
                      {
                          data = request.responseText;
                          insert();
                          if( isLocalStorage )
                          {
                              localStorage.setItem( 'inlineSVGdata',  data );
                              localStorage.setItem( 'inlineSVGrev',   revision );
                          }
                      }
                  }
                  request.send();
              }
              catch( e ){}
      
          }( window, document ) );
      
    </script>
  </head>
  <body>
    <div class="header">
      <div class="headerWrap">
        <div class="headerLeft">
          <div class="headerPhone">Бесплатный звонок:<span> 8(800) 301-0620</span></div>
        </div>
        <div class="headerRight">
          <div class="headerCart"><span>Корзина пуста</span></div>
        </div>
      </div>
    </div>
    <div class="menu">
      <div class="menuLogo"><img src="img/logo.png" alt=""></div>
      <div class="menuItems">
        <div class="menuItemsTop"><a href="#" class="active">Паста</a><a href="#">Horeca</a><a href="#">О компании</a><a href="#">Контакты</a></div>
        <div class="menuItemsBottom"><a href="#" class="active">Доставка и оплата</a><a href="#">Новости</a><a href="#">Рецепты</a></div>
      </div>
    </div>
    <div class="horeca">
      <div class="horecaMenu"><a href="#" class="active">Для ресторанов</a>•<a href="#">Кейтеринговых служб</a>•<a href="#">Шеф-поваров</a>•<a href="#">Оптовиков</a>•<a href="#" class="blue">Предложить сотрудничество</a></div>
      <div class="horecaBanner">
        <div style="background-image:url('img/horecaBanner.jpg')" class="horecaBannerImage">
          <div class="horecaBannerHeader">
            <h2>Итальянская паста <br>для вашего ресторана</h2>
            <p>Пояснить заголовок, расширить и дополнить смысл заголовка. <br>Пара простых предложений небольшого объема</p>
          </div>
        </div>
      </div>
      <div class="horecaLogo">
        <div class="horecaLogoText">Нашу пасту<br> подают здесь</div>
        <div class="horecaLogoItem"><img src="img/horeca-1.png" alt=""></div>
        <div class="horecaLogoItem"><img src="img/horeca-2.png" alt=""></div>
        <div class="horecaLogoItem"><img src="img/horeca-3.png" alt=""></div>
        <div class="horecaLogoItem"><img src="img/horeca-4.png" alt=""></div>
        <div class="horecaLogoItem"><img src="img/horeca-5.png" alt=""></div>
        <div class="horecaLogoItem"><img src="img/horeca-6.png" alt=""></div>
        <div class="horecaLogoItem"><img src="img/horeca-7.png" alt=""></div>
      </div>
      <div class="horecaContent">
        <h3>Текстовое описание условий сотрудничества и продукции, что компания предлагает. С происхождением пасты связанно множество легенд, мифов и исторических фактов. По одной из версий Италия считается первой страной, которая придумала этот продукт.</h3>
        <p>По другой, пасту привез знаменитый путешественник Марко Поло из Китая в 1292 году. Споры среди кулинаров и историков не утихают до сих пор. Тем не менее Италия в настоящий момент является крупнейшим производителем и поставщиком данного продукта по всему миру. Изначально это блюдо было популярно локально в Италии, но уже в ХII веке оно начало экспортироваться от берегов Италии. Первое время темпы экспорта были не велики но уже спустя буквально несколько веков о этом блюде знала.</p>
        <p>Удивительно, но самыми первыми задокументированными рецептами итальянской пасты стали записи, в которых указывалось, что этот продукт отваривали в воде с добавлением миндального молока после чего заправляли специальным соусом из сладких кореньев. Таким образом самый первый рецепт пасты был фактически десертом.</p>
      </div>
      <div class="horecaForm">
        <div class="horecaFormHeader">Заявка на сотрудничество</div>
        <div class="horecaFormItems">
          <div class="horecaFormItem">
            <label class="label">Имя и фамилия</label>
            <input class="input">
          </div>
          <div class="horecaFormItem">
            <label class="label">Название ресторана/бара/кафе</label>
            <input class="input">
          </div>
          <div class="horecaFormItem">
            <label class="label">Телефон</label>
            <input class="input">
          </div>
          <div class="horecaFormItem">
            <label class="label">Комментарий</label>
            <textarea class="textarea"></textarea>
          </div>
          <div class="horecaFormItem">
            <button class="buttonGreenBig">Отправить</button>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footerWrap">
        <div class="footerMenu">
          <div class="footerMenuWrap"><a href="#" class="active">Паста</a><a href="#">О франшизе</a><a href="#">О компании</a><a href="#">Контакты</a><a href="#">Новости</a><a href="#">Рецепты</a></div>
        </div>
        <div class="footerRow">
          <div class="footerSocial">
            <div class="footerCopyright">2015, Stylpasta</div>
            <div class="footerSocialLink">
              <div class="footerSocialLinkFB"><a href="#">Facebook</a></div>
              <div class="footerSocialLinkVK"><a href="#">Vkontakte</a></div>
              <div class="footerSocialLinkInstagramm"><a href="#">Instagram</a></div>
            </div>
            <div class="footerDesign"><a href="#">
                 
                — <span>Разработка сайта</span></a></div>
          </div>
          <div class="footerContact">Бесплатный звонок:<span>8 (800) 301—0620</span>Эл. почта:&nbsp<a href="#">sales@nemoxrussia.ru</a></div>
          <div class="footerAddress">Ждем в гости на&nbsp<a href="#">ул. Складочная 1, стр. 18<br></a>Пишите на пр Ленина 12, Москва
            <div class="footerLogos">
              <div class="footerLogoRST"></div>
              <div class="footerLogoEAC"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="./js/app.js"></script>
  </body>
</html>
