assets/template/index.jade
extends _layout

block content
    .main
        include block/slider.jade
        include block/quality.jade
    .sliderPhoto
        img(src="img/photo-2.jpg", alt="")
        img(src="img/photo-3.jpg", alt="")
        img(src="img/photo-1.jpg", alt="")
        img(src="img/photo-2.jpg", alt="")
        img(src="img/photo-3.jpg", alt="")
        img(src="img/photo-4.jpg", alt="")
        img(src="img/photo-1.jpg", alt="")
        img(src="img/photo-2.jpg", alt="")
        img(src="img/photo-3.jpg", alt="")
        img(src="img/photo-4.jpg", alt="")
    
    .offers
        .offersWrap
            .offerPhoto
                img(src="img/tarelka.png", alt="")

            .offerItems
                .offerItem
                    h2 Horeca и Stylpasta
                    p Описание предложения сотрудничества. Что может предложить Stylpasta для посетителей ресторанов, кафе, гостиниц и прочее
                    button.buttonGreen Посмотреть предложение
                .offerItem
                    h2 Horeca и Stylpasta
                    p Описание предложения сотрудничества. Что может предложить Stylpasta для посетителей ресторанов, кафе, гостиниц и прочее
                    button.buttonGreen Посмотреть предложение

    include block/delivery.jade
    .main
        .recepts
            .receptBig
                .receptBigPhoto
                    img(src="img/recept-1.jpg", alt="")
                .receptBigText
                    a(href="#") Тальярини верде с соусом Песто
                    | Варить в большом количестве кипящей подсолённой воды 3 минуты.
            .receptSmall
                .receptSmallPhoto
                    img(src="img/recept-2.jpg", alt="")
                .receptSmallText
                    a(href="#") Как приготовить равиоли с тыквой и рикоттой
                    | Варить в большом количестве кипящей подсолённой воды 3 минуты.
            .receptLink
                a(href="#")
                    span Рецепты из Италии
                | Для любителей итальянской пасты мы еженедельно подготавливаем простые рецепты и советы от шеф- поваров
                

public/index.html
<!DOCTYPE html>
<html>
  <head>
    <title>Stylpasta</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic|PT+Serif:700italic&amp;subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link href="./css/blocks.css" type="text/css" rel="stylesheet">
    <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="favicon.ico">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="favicon-152.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="favicon-144.png">
    <meta name="msapplication-square70x70logo" content="favicon-70.png">
    <meta name="msapplication-square150x150logo" content="favicon-150.png">
    <meta name="msapplication-square310x310logo" content="favicon-310.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="favicon-152.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="favicon-120.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicon-72.png">
    <link rel="apple-touch-icon-precomposed" href="favicon-57.png"><!--[if IE 8]><link rel="stylesheet" href="./css/blocks.ie.css"><![endif]-->
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
    <script>
      ;( function( window, document )
          {
              'use strict';
      
              var file     = './img/svghtml.html',
                  revision = 1,
                  debug = true;
      
              if( !document.createElementNS || !document.createElementNS( 'http://www.w3.org/2000/svg', 'svg' ).createSVGRect )
                  return true;
      
              var isLocalStorage = 'localStorage' in window && window[ 'localStorage' ] !== null,
                  request,
                  data,
                  insertIT = function()
                  {
                      document.body.insertAdjacentHTML( 'afterbegin', data );
                  },
                  insert = function()
                  {
                      if( document.body ) insertIT();
                      else document.addEventListener( 'DOMContentLoaded', insertIT );
                  };
      
              if( isLocalStorage && localStorage.getItem( 'inlineSVGrev' ) == revision & debug == false )
              {
                  data = localStorage.getItem( 'inlineSVGdata' );
                  if( data )
                  {
                      insert();
                      return true;
                  }
              }
      
              try
              {
                  request = new XMLHttpRequest();
                  request.open( 'GET', file, true );
                  request.onload = function()
                  {
                      if( request.status >= 200 && request.status < 400 )
                      {
                          data = request.responseText;
                          insert();
                          if( isLocalStorage )
                          {
                              localStorage.setItem( 'inlineSVGdata',  data );
                              localStorage.setItem( 'inlineSVGrev',   revision );
                          }
                      }
                  }
                  request.send();
              }
              catch( e ){}
      
          }( window, document ) );
      
    </script>
  </head>
  <body>
    <div class="header">
      <div class="headerWrap">
        <div class="headerLeft">
          <div class="headerPhone">Бесплатный звонок:<span> 8(800) 301-0620</span></div>
        </div>
        <div class="headerRight">
          <div class="headerCart"><span>Корзина пуста</span></div>
        </div>
      </div>
    </div>
    <div class="menu">
      <div class="menuLogo"><img src="img/logo.png" alt=""></div>
      <div class="menuItems">
        <div class="menuItemsTop"><a href="#" class="active">Паста</a><a href="#">Horeca</a><a href="#">О компании</a><a href="#">Контакты</a></div>
        <div class="menuItemsBottom"><a href="#" class="active">Доставка и оплата</a><a href="#">Новости</a><a href="#">Рецепты</a></div>
      </div>
    </div>
    <div class="main">
      <div class="sliders">
        <div class="sliderBig">
          <div class="sliderBigSlide">
            <div class="sliderBigSlidePhoto"><img src="img/slide-1.png" alt=""></div>
            <div class="sliderBigSlideDescription">
              <h2>Равиоли <br> с тыквой и рикоттой</h2>
              <p><b>Тесто:</b> мука твердых сортов итальянской пшеницы, яйца, вода</p>
              <p><b>Начинка:</b> тыква, сыр «Рикотта», сыр «Grana padano», лук, майоран, масло сливочное, соль</p>
              <div class="sliderBigSlideTime">Время приготовления: <span> 3—5 мин</span></div>
              <div class="sliderBigSlideLife">Срок хранения: <span> 3 дня при +2° +4°</span></div>
            </div>
          </div>
          <div class="sliderBigSlide">
            <div class="sliderBigSlidePhoto"><img src="img/slide-1.png" alt=""></div>
            <div class="sliderBigSlideDescription">
              <h2>Паста <br> с тыквой и рикоттой</h2>
              <p><b>Тесто:</b> мука твердых сортов итальянской пшеницы, яйца, вода</p>
              <p><b>Начинка:</b> тыква, сыр «Рикотта», сыр «Grana padano», лук, майоран, масло сливочное, соль</p>
              <div class="sliderBigSlideTime">Время приготовления:<span> 3—5 мин</span></div>
              <div class="sliderBigSlideLife">Срок хранения: <span> 3 дня при +2° +4°</span></div>
            </div>
          </div>
        </div>
        <div class="sliderSmall">
          <div class="sliderSmallSlide">
            <div class="sliderSmallSlidePhoto"><img src="img/slide-1.png" alt=""></div>
            <div class="sliderSmallSlideText"><span>Равиоли</span></div>
          </div>
          <div class="sliderSmallSlide">
            <div class="sliderSmallSlidePhoto"><img src="img/slide-1.png" alt=""></div>
            <div class="sliderSmallSlideText"><span>Тальятелли</span></div>
          </div>
        </div>
      </div>
      <div class="quality">
        <div class="qualityHeader">Качество пасты</div>
        <div class="qualityContent">
          <div class="qualityContentPhoto"><img src="img/quality.png" alt=""></div>
          <div class="qualityContentText">
            <h2>Готовим из итальянских ингредиентов</h2>
            <p>Описание свойств и качеств используемых в производстве ингредиентов. Несколько слов <br> о поставщиках и высоком уровне контроля над закупками.</p>
          </div>
        </div>
        <div class="qualityStandart">
          <div class="qualityStandartContent">
            <h2><span>По стандартам итальянского производства</span></h2>
            <p><b>Подготовка теста</b>Замешиваем на сертифицированном итальянском оборудовании</p>
            <p><b>Форма</b>Нарезаем вручную и придаем форму с помощью пресса и бронзовых фильеров</p>
            <p><b>Пастеризация и упаковка</b>Трех минутная обработка паром и герметичная атмосферная упаковка сохраняют полезные качества надолго</p>
          </div>
          <div class="qualityStandartInterview">
            <div class="qualityStandartInterviewPhoto"><img src="img/cheif.jpg" alt="">Ферретти Джованни,<br>итальянский технолог</div>
            <div class="qualityStandartInterviewQoute">«Интервью итальянского технолога об итальянском менеджменте на всех этапах производства. О соблюдении европейских стандартов качества и безопасности технологических операций. Интервью итальянского технолога</div>
          </div>
        </div>
      </div>
    </div>
    <div class="sliderPhoto"><img src="img/photo-2.jpg" alt=""><img src="img/photo-3.jpg" alt=""><img src="img/photo-1.jpg" alt=""><img src="img/photo-2.jpg" alt=""><img src="img/photo-3.jpg" alt=""><img src="img/photo-4.jpg" alt=""><img src="img/photo-1.jpg" alt=""><img src="img/photo-2.jpg" alt=""><img src="img/photo-3.jpg" alt=""><img src="img/photo-4.jpg" alt=""></div>
    <div class="offers">
      <div class="offersWrap">
        <div class="offerPhoto"><img src="img/tarelka.png" alt=""></div>
        <div class="offerItems">
          <div class="offerItem">
            <h2>Horeca и Stylpasta</h2>
            <p>Описание предложения сотрудничества. Что может предложить Stylpasta для посетителей ресторанов, кафе, гостиниц и прочее</p>
            <button class="buttonGreen">Посмотреть предложение</button>
          </div>
          <div class="offerItem">
            <h2>Horeca и Stylpasta</h2>
            <p>Описание предложения сотрудничества. Что может предложить Stylpasta для посетителей ресторанов, кафе, гостиниц и прочее</p>
            <button class="buttonGreen">Посмотреть предложение</button>
          </div>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="delivery">
        <div class="deliveryHeader">
          <h2>
             
            Доставляем по&nbsp<span>Москве</span>
          </h2>
          <p>Описание как и на чем доставляют.  Несколько слов об условиях доставки.</p>
          <p>Понедельник — Суббота<br>с 10.00 до 22.00</p>
          <p class="red">Воскресенье — выходной</p>
        </div>
        <div class="deliveryMap"><img src="img/map.png" alt=""></div>
        <div class="deliveryPhone"><span>Бесплатный звонок:<br></span>8 (800) 301—0620</div>
      </div>
      <div class="newsMain">
        <div class="newsItem">
          <div class="newsItemDate"><span>Новости.</span>3 мая 2015</div><a href="#">Открытие фестиваля здоровой пищи</a>
          <p>С 3 по 4 июня в Посольстве Италии прошел прием, приуроченный к празднованию Дня Республики. Компания «Лапастафреска» выступила генеральным партнером мероприятия по организации гастрономической части торжества. Все гости высоко оценили качество свежей итальянской пасты и кулинарное мастерство наших шеф-поваров.</p>
        </div>
        <div class="newsItem">
          <div class="newsItemDate"><span>Новости.</span>&nbsp3 мая 2015</div><a href="#">Открытие фестиваля здоровой пищи</a>
          <p>С 3 по 4 июня в Посольстве Италии прошел прием, приуроченный к празднованию Дня Республики. Компания «Лапастафреска» выступила генеральным партнером мероприятия по организации гастрономической части торжества. Все гости высоко оценили качество свежей итальянской пасты и кулинарное мастерство наших шеф-поваров.</p>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="recepts">
        <div class="receptBig">
          <div class="receptBigPhoto"><img src="img/recept-1.jpg" alt=""></div>
          <div class="receptBigText"><a href="#">Тальярини верде с соусом Песто</a>Варить в большом количестве кипящей подсолённой воды 3 минуты.</div>
        </div>
        <div class="receptSmall">
          <div class="receptSmallPhoto"><img src="img/recept-2.jpg" alt=""></div>
          <div class="receptSmallText"><a href="#">Как приготовить равиоли с тыквой и рикоттой</a>Варить в большом количестве кипящей подсолённой воды 3 минуты.</div>
        </div>
        <div class="receptLink"><a href="#"><span>Рецепты из Италии</span></a>Для любителей итальянской пасты мы еженедельно подготавливаем простые рецепты и советы от шеф- поваров</div>
      </div>
    </div>
    <div class="footer">
      <div class="footerWrap">
        <div class="footerMenu">
          <div class="footerMenuWrap"><a href="#" class="active">Паста</a><a href="#">О франшизе</a><a href="#">О компании</a><a href="#">Контакты</a><a href="#">Новости</a><a href="#">Рецепты</a></div>
        </div>
        <div class="footerRow">
          <div class="footerSocial">
            <div class="footerCopyright">2015, Stylpasta</div>
            <div class="footerSocialLink">
              <div class="footerSocialLinkFB"><a href="#">Facebook</a></div>
              <div class="footerSocialLinkVK"><a href="#">Vkontakte</a></div>
              <div class="footerSocialLinkInstagramm"><a href="#">Instagram</a></div>
            </div>
            <div class="footerDesign"><a href="#">
                 
                — <span>Разработка сайта</span></a></div>
          </div>
          <div class="footerContact">Бесплатный звонок:<span>8 (800) 301—0620</span>Эл. почта:&nbsp<a href="#">sales@nemoxrussia.ru</a></div>
          <div class="footerAddress">Ждем в гости на&nbsp<a href="#">ул. Складочная 1, стр. 18<br></a>Пишите на пр Ленина 12, Москва
            <div class="footerLogos">
              <div class="footerLogoRST"></div>
              <div class="footerLogoEAC"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="./js/app.js"></script>
  </body>
</html>
